# config
.slack_token
*.tmp

# data
data/*

# features & src
__pycache__

# importance

# input
input/*

# kernel
kernel-metadata.json
dataset-metadata.json
*.pth

# log

# model
model/*

# notebook
.*.ipynb
.ipynb_checkpoints

# trash
.DS_Store
tmp/*

# venv
.venv/*

#version
.python-version

#  gitkeep
!.gitkeep
